@use '../styles/variables' as v;

.bottom-block {
    height: 590px;
    background-image: url('../assets/1x/bottom_bg.png');
    background-position: center;

    .bottom-block__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 590px;

        .bottom-block__wrapper__text {
            width: 100%;
            font-size: 60px;
            color: v.$secondary-color;
            text-align: center;
            margin-bottom: 50px;
        }

        .bottom-block__wrapper__buttons {
            display: flex;
            justify-content: space-around;
            width: 100%;

            button {
                width: 350px;
                height: 85px;

                font-size: 28px;
            }
        }
    }

    @media (max-width: v.$tablet-resolution) {
        display: flex;

        .bottom-block__wrapper {
            .bottom-block__wrapper__text {
                font-size: 35px;
            }

            .bottom-block__wrapper__buttons {
                display: flex;
                flex-wrap: wrap;
                button {
                    width: 100%;
                    font-size: 14px;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
