@use '../styles/variables' as v;

.center-block {
  max-width: 1130px;
  margin: 0 auto;

    @media (max-width: v.$tablet-resolution) {
        max-width: 768px;
    }


    @media (max-width: v.$mobile-resolution) {
        padding: 0 25px;
    }

}