@use '../styles/variables' as v;

.management {
    display: flex;

    .management__person {
        display: flex;
        .management__person__text {
            width: 220px;

            .management__person__text__name {
                font-size: 20px;
                margin-bottom: 30px;
            }

            .management__person__text__title {
                color: v.$primary-color;
                font-size: 20px;
                margin-bottom: 30px;
            }

            .management__person__text__description {
                font-family: 'Lato Regular', sans-serif;

                font-size: 20px;
                margin-bottom: 30px;
            }
        }

        .management__person__image-wrapper {

        }
    }

    @media (max-width: v.$tablet-resolution) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: v.$mobile-resolution) {
        .management__person {
            flex-direction: column;
            align-items: center;

            .management__person__text {
                width: 100%;
                text-align: center;

                .management__person__text__description {
                    text-align: left;
                }
            }
        }
    }
}
